<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>Param Example01</h1>
        <form action="/param/get-param1" method="get">
            <input type="text" name="id" id="id">
            <button type="submit">Submit</button>
        </form>

        <h1>Param Example02</h1>
        <form action="/param/get-param2" method="get">
            <label for="deptno">Deptno >> <input type="text" name="deptno" id="deptno"></label> <br />
            <label for="job">Job >> <input type="text" name="job" id="job"></label> <br />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>