<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>Print Data into TextContent</h1>
        <ul>
            <li>th:text use01 <span th:text="${data1}"></span></li>
            <li>Print Data into TextContent = [[${data1}]]</li>
            <li>th:utext use02 <span th:utext="${data2}"></span></li>
            <li>Print Data into TextContent = [(${data2})]</li>
        </ul>
    </body>
</html>