<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>Rest API Example Page 01</h1>
        <hr />
        <h2>Get Request Example</h2>
        <button type="submit" id="submitBtn1">Request01</button>
        <div id="result1"></div>

        <script>
            document.getElementById("submitBtn1").addEventListener("click", () => {
                fetch("/rest1/users").then(resp => {
                    console.log(resp);
                    return resp.json();
                }).then(datas => {
                    datas.forEach(({userName, userAge, fl, bool}) => {
                        const newP = document.createElement("p");
                        newP.textContent = `name : ${userName}, age : ${userAge}, fl : ${fl}, bool : ${bool}`;
                        document.getElementById("result1").append(newP);
                    });
                });
            });
        </script>

        <hr />
        <h2>Post Request Example</h2>
        <button type="submit" id="submitBtn2">Request02</button>
        <div id="result2"></div>

        <script>
            document.getElementById("submitBtn2").addEventListener("click", () => {
                fetch("/rest1/users1", {
                    method : "POST",
                    headers : {
                        'Content-Type' : "application/json",
                    },
                    body : JSON.stringify({
                        name : "OST",
                        age : 30,
                        address : "Korea Deajeon"
                    })
                }).then(resp => {
                    document.getElementById("result2").textContent = resp;
                });
            });
        </script>

        <hr />
        <h2>Put Request Example</h2>
        <button type="submit" id="submitBtn3">Request03</button>
        <div id="result3"></div>

        <script>
            document.getElementById("submitBtn3").addEventListener("click", () => {
                fetch("/rest1/users2", {
                    method : "PUT",
                    headers : {
                        'Content-Type' : "application/json",
                    },
                    body : JSON.stringify({
                        name : "OST",
                        age : 30,
                        address : "Korea Deajeon"
                    })
                }).then(resp => resp.json()).then(data => {
                    document.getElementById("result3").textContent = `Destiny is ${data.destiny}`;
                    console.log(data);
                });
            });
        </script>

        <hr />
        <h2>Patch Request Example</h2>
        <button type="submit" id="submitBtn4">Request04</button>
        <div id="result4"></div>

        <script>
            document.getElementById("submitBtn4").addEventListener("click", () => {
                fetch("/rest1/users3", {
                    method : "PATCH",
                    headers : {
                        'Content-Type' : "application/json",
                    },
                    body : JSON.stringify({
                        destiny: "umm",
                        chicken: "umm"
                    })
                }).then(resp => resp.json()).then(data => {
                    document.getElementById("result4").textContent = `Destiny is ${data[0].destiny}`;
                    console.log(data);
                });
            });
        </script>

        <hr />
        <h2>delete Request Example</h2>
        <button type="submit" id="submitBtn5">Request05</button>
        <div id="result5"></div>

        <script>
            document.getElementById("submitBtn5").addEventListener("click", () => {
                fetch("/rest1/users4", {
                    method : "DELETE",
                    headers : {
                        'Content-Type' : "application/json",
                    },
                    body : JSON.stringify([{
                        destiny: "umm",
                        chicken: "umm"
                    }]),
                }).then(resp => resp.json()).then(data => {
                    document.getElementById("result5").textContent = `Destiny is ${data[0].destiny}`;
                    console.log(data);
                });
            });
        </script>
    </body>
</html>